body {
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    /* color: #47807d; */
    color:slategrey;
}
/* Container */
.container {
    width: 99vw;
    height: 100vh;

    font-family: Playfair Display; 
    font-weight: bold;
    /* font-size: 20px; */
    list-style: none;

    display: grid;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto 1fr 300px;

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
}
/*
.container div {
    padding: 20px; 
    border: 1px solid #000;
}
*/
/* Content */
.content-large{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:2;
    -ms-grid-row-span: 1;
    /* outline: 2px solid rgb(40, 12, 116); */
    padding: 1em 4em;
}
/* Image */
.image-panel2{
    background-image: url('../images/sunsetNoText.JPG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* outline: 2px solid rgb(116, 12, 12); */
    padding: 20em;
    background-position: bottom left;
}
.image-panel{
    background-image: url('../images/BrynBackground1.JPG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* outline: 2px solid rgb(116, 12, 12); */
    padding: 20em;
    background-position: bottom left;
}

/* Header */
.header {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1%;
    border-bottom: 1px solid rgb(148, 143, 143);
}
/*
.header div {
     padding: 0px; 
    outline: 2px solid rgb(116, 12, 12);
}
*/
.header-grid{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 102px;
    
}
.header-logo-cell{
    grid-column-start: 1;
    -ms-grid-column-span: 1;
}
.header-logo-img{
    width: 45%;
    content: url('assets/images/hffhca_logo.png');
}
.header-menu{
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    display:grid;
    grid-template-columns: repeat(6,fr);
    text-align: center;
    align-items: center;
    padding: 0 0 0 20px;
    /*border: 1px solid #000;*/
    font-size: 16px !important;
    font-weight: bold;
}
.header-menu-about{
    grid-column-start: 1;
    -ms-grid-column-span: 1;
}
.header-menu-calendar{
    grid-column-start: 2;
    -ms-grid-column-span: 1;
}
.header-menu-newsletter{
    grid-column-start: 3;
    -ms-grid-column-span: 1;
}
.header-menu-merchandise{
    grid-column-start: 4;
    -ms-grid-column-span: 1;
}
.header-menu-hffh{
    grid-column-start: 5;
    -ms-grid-column-span: 1;
}
.header-menu-contact{
    grid-column-start: 6;
    -ms-grid-column-span: 1;
}
/* Search */
#searchBar{
    width:85%;
    height:22px;
    border-radius:3px;
    border:1px solid #eaeaea;
    padding: 5px 10px;
    font-size:12px;
}
#searchWrapper{
    position:relative;
}
#searchWrapper::after{
    content: '🔍';
    position: absolute;
    top:2px;
    right:15px;
}
.header-search{
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    display:grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    padding: 0 0 0 20px;
    /*border: 1px solid #000;*/
}
.header-icons {
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    padding: 15% 0 0 10%;
    /* border: 1px solid #000; */
}
/*
.header-icons div {
     outline: 2px solid rgb(143, 138, 138); 
}
*/
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  .header-icon-search {
      grid-column-start: 7;
      -ms-grid-column-span: 1;
  }
.header-icon-search::before {
    content:  url('../images/search.svg');
  }
.header-icon-account {
    grid-column-start: 8;
    -ms-grid-column-span: 1;
}
.header-icon-account::before {
    content: url('../images/person.svg');
}
.header-icon-shop {
    grid-column-start: 9;
    -ms-grid-column-span: 1;
}
.header-icon-shop::before {
    /* font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f290"; */
    content:  url('../images/bag.svg');
}
/* Image */
.character >img {
    max-height: 100px;
    grid-area:image;
}
/* Footer */
.footer {
    grid-column-start: 1;
    grid-column-end: 4;
}
.footer div {
    padding: 0px;
}
.footer-grid {
    display: grid;
    grid-template-columns: 5% 90% 50%;
    /*grid-template-rows: 1fr;*/
    grid-template-rows: 60px 1fr 60px 60px;
    /*border: 1px solid #000;*/
}
.footer-left {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start:1;
    -ms-grid-row-span: 4;
    /*border: 1px solid #000;*/
}
.footer-center-row1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    -ms-grid-row-span: 1;
    text-align: center;
    /*border: 1px solid #000;*/
}
.footer-center-row2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    -ms-grid-row-span: 1;
    /*border: 1px solid #000;*/
}
.footer-center-row3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:3;
    -ms-grid-row-span: 1;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width:100%;
    /*border: 1px solid rgb(5, 136, 71);*/
}

.footer-center-row4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:4;
    -ms-grid-row-span: 1;
    text-align: center;
    /*border: 1px solid #000;*/
}
.footer-right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:1;
    -ms-grid-row-span: 4;
}
/* Subscribe */
.email-text-box {
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    text-align: right;
    /*border: 1px solid rgb(221, 40, 167);*/
}
.email-subscribe-button {
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    text-align: left;
    /*border: 1px solid rgb(102, 89, 218);*/
}
#subscribeBar{
    width:50%;
    height:22px;
    border-radius:3px;
    border:1px solid #eaeaea;
    font-size:12px;
}
#subscribeWrapper{
    /*position:relative;*/
    padding: 10px;
    /*border: 1px solid #000;*/
}
/* Instagram */
.ig-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /*grid-template-rows: 100%;*/
    /*border: 1px solid #000;*/
}
.ig-1 {
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    
}
.ig-2 {
    grid-column-start: 2;
    -ms-grid-column-span: 1;
}
.ig-3 {
    grid-column-start: 3;
    -ms-grid-column-span: 1;
}
.ig-4 {
    grid-column-start: 4;
    -ms-grid-column-span: 1;
}
.ig-5 {
    grid-column-start: 5;
    -ms-grid-column-span: 1;
}
.iframe {
    padding-bottom: 100% !important;
}
/* Newsletter */
.iFrame-Newsletter {
	width:100%;
	height:100%;
}
.newsletter-container {
    width: 100vw;
    height: 100vh;

    font-family:'Poppins',sans-serif;
    font-weight: bold;
    font-size: 20px;

    
    padding: 10px;
    box-sizing: border-box;
}
/* Calendar */
.calendar-container {
    /* width: 100vw; */
    height: 100vh;

    font-family:'Poppins',sans-serif;
    font-weight: bold;
    font-size: 20px;

    
    padding: 10px;
    box-sizing: border-box;
}
.calendar-image-panel{
    background-image: url('../images/BrynBackground1.JPG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* outline: 2px solid rgb(116, 12, 12); */
    background-position: top left;
}
.iFrame-calendar {
	width:100%;
	height:100%;
}
/* Navbar */
    /* The dropdown container */
      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      /* Dropdown button */
      .dropdown .dropbtn { 
        border: none;
        outline: none;
        /* color: #000; */
        padding: 14px 16px !important;
        background-color: #fff;
        font-family: Avenir;
        font-size:1.3vw;
        font-weight: 100;
        margin: 0; /* Important for vertical align on mobile phones */
      }
      /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        /* min-width: 160px; */
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      /* Add a grey background color to dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #fff;
      }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
    /* The navbar container */
    .navbar {
        overflow: hidden;
        background-color: #fff;
        font-family:'Avenir';
        /* src: url('/fonts/AvenirLTStd-Black.otf)'); */
        font-size: 1.3vw;
        font-weight:100;
        }
    
    /* Links inside the navbar */
    .navbar a {
      float: left;
      color: #000;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    .navbar a:hover, .dropdown:hover .dropbtn {
      /*background-color: rgb(236, 231, 231);*/
      color:slategrey
    }